{# Create Twig templates for rendering posts and handling comments and replies. #}


{# templates/comment/create.html.twig #}

{# <h2>Add Comment</h2> #}

{# {{ form_start(form) }} #}
    {# {{ form_row(form.content) }} #}
    {# ... other form fields #}
{# {{ form_end(form) }} #}


