{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div class="comments">
        {% for comment in post.comments %}
            {# <h1>    {{ comment.post }}  </h1> #}

            <div class="comment">
                <p>Comment ID:   {{ comment.id }}</p>        
                <p>Comment Text: {{ comment.text }}</p>
                {# <p>Created at :  {{ comment.created_at }}</p> #}

            </div>


        {% endfor %}
    </div>


</div>
{% endblock %}
